{% extends "store/base.html" %}

{% block content %}


<div class="jumbotron jumbo-info">
<p class="lead">We would like to invite you to take part in our research study. Before you decide we would like you to understand why the research is being done and what it would involve for you. We suggest that it may take about 5 minutes to read thoroughly. If, after reading this information, you think you may be interested in taking part you will have the opportunity to ask any questions.
</p>
</div>

<h2>Summary</h2>
<p>The quantified self allows us to better understand aspects of our life, particularly those we wish to improve, through the ongoing collection and analysis of data about us through wearables, smartphones, and mobile apps. Services which seem to offer similar functionality, such as the ability to track our weight or exercise, can behave in very different ways, which might not be clear when you first choose to use a particular service.</p>
<p>The purpose of this study is to understand which factors matter to you when you choose to adopt one service over another.</p>
<p>We will ask you to complete a short task where you access an “app store” and choose an app which best meets your requirements, followed by a short questionnaire about your choice. This study will not actually involve downloading or using any such apps. </p>

<h2>What’s involved?</h2>
<p>You will be asked to provide your consent to participate in the study, before which you will have the opportunity to ask any questions.</p>
<p>You will be asked to complete a short questionnaire, which will take about 5 minutes to complete, where you tell us which features of quantified self services you value.</p>
<p>You will then be given a short list of possible tasks to choose from, such as “Choose an app which lets you track your running”. You will then be taken to a simplified app store which you can explore, within which you can choose the app you would adopt if you were trying to complete this task in the real world. Finally, you will be asked a few questions about your experience, which should only take a further 5 minutes.</p>

<h2>What are the potential benefits and risks?</h2>
<p>You can choose to enter a prize draw for one of six £10 <a href="https://www.highstreetvouchers.com/gift/where-to-spend-love2shop-vouchers" target="_blank">Love2shop vouchers</a>. To be eligible for the prize draw, you must be located in the United Kingdom, provide a valid email address, and complete the study before August 27th 2017. The provided email address is only used for the purpose of contacting winners, and is not shared with any third parties or used to identify your responses.</p>
<p> In addition, all participants are provided with a personalised profile of your preferences which might help you identify services which comply with them. The primary benefit of this study, however, is to improve how similar app stores highlight appropriate apps in the future.</p>
<p>There are no foreseeable risks arising from participation in this research. You will make a vital contribution to privacy research and possibly improve the experience for others.</p>

<h2>What will happen if I don't want to carry on with the study?</h2>
<p>Your participation in the study is entirely voluntary, and you can choose not to answer any questions, or withdraw from the task entirely at any time.</p>

<h2>How will my information be kept confidential?</h2>
<p>The data collected will only be accessible to the researchers. None of your data will be made publicly available, and it will all be stored securely in an electronic format.</p>
<p>Personally identifying information will not be electronically stored with your data. Instead a unique ID will be generated to record your data and we will ensure that you can never be identified by any data we publish.</p>
<p>The data will be retained for up to 5 years after the study. The results of this study may be published in a scientific journal.</p>

<h2>Who is organising and funding this study?</h2>
<p>This research is in part being supported by a research grant from the Engineering and Physical Sciences Research Council, and researchers from the Open University.</p>

<h2>Who has reviewed this study?</h2>
<p>This research has been reviewed and approved by the Open University’s Human Research Ethics Committee.</p>

<h2>What if I experience problems?</h2>
<p>If you have a concern or questions about any aspect of this study, you can speak to the researcher, <a href="mailto:luke.hutton@open.ac.uk">Luke Hutton</a>.</p>

<h2>Invitation to ask further questions</h2>
<p>Please feel free to ask the researcher if you have any concerns or questions in relation to this study before agreeing to the consent form. You may also ask any questions throughout and after completion of the study.</p>
<p>You can contact the researchers by email:</p>
<p>Luke Hutton: <a href="mailto:luke.hutton@open.ac.uk">luke.hutton@open.ac.uk</a></p>
<p>Blaine Price: <a href="mailto:b.a.price@open.ac.uk">b.a.price@open.ac.uk</a></p>

<p><b>Thank you for taking the time to read this information and considering taking part in this study</b></p>

<a class="btn btn-primary" href="consent" role="button">Continue</a>
{% endblock %}
