{% extends "store/base.html" %}

{% block content %}

<div class="container">

  <div class="padded-multiline">
    <h1>
      <strong>
        Choosing quantified self services
      </strong>
    </h1>
  </div>


  <div class="jumbotron">
    <p>Researchers at The Open University are investigating how we decide which apps to use for particular tasks, such as tracking our diet, exercise, or productivity.
    We are inviting you to participate in a short experiment. Please read the information below and decide whether you would like to take part.</p>
    <p>
    <p>We are inviting you to participate in a short experiment. Please read the information below and decide whether you would like to take part.
  </div>

</div>

{% endblock %}
