{% extends "store/base.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-3">Something went wrong!</h1>
  <p class="lead">Sorry, but something has gone wrong with this experiment.</p>
  <hr class="my-4">
    <p>Please <a href="/store">try to complete the experiment again</a>.
    If you encounter a problem again, please email <a href='mailto:luke.hutton@open.ac.uk'>the researcher</a>
    and quote the following error message so we can try to fix the problem. Thanks for your patience.</p>
    <pre> UNKNOWN_500 </pre>
</div>



{% endblock %}
